<div class="card mb-5">
  <div class="card-header">
    {{format_date date_created}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{content}}</p>
    <button id="updateBtn" class="btn btn-primary"><a href="/edit-post/{{id}}">Edit blog post</a></button>
    {{!-- <button id="deleteBtn" data-id="{{id}}" class="btn btn-secondary">Delete blog post</button> --}}
  </div>
</div>