<div class="card mb-5">
  <div class="card-header">
    {{format_date date_created}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{content}}</p>
    <button class="btn btn-primary" data-id="{{id}}" id="readMoreBtn">Read more</a>
    <button id="deleteBtn" data-id="{{id}}" class="btn btn-secondary">Delete blog post</button>
  </div>
</div>
{{!-- <script src="/js/readMore.js"></script> --}}