{{#if loggedIn}}
<div class="card text-bg-light mb-3">
  <div class="card-header">Created by {{user.username}} on {{format_date date_created}}</div>
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{content}}</p>
  </div>
</div>
{{!-- comment form --}}
{{> comment-form}}
{{!-- see all comments --}}
{{#if comments.length}}
<h3 id="comments-label">Comments:</h3>
{{#each comments as |comment|}}
{{> comments}}
{{/each}}
{{/if}}
{{else}}
{{!-- link to login page --}}
<a class="nav-link" href="/login">You must login or signup to view this page</a>
{{/if}}
<script src="/js/comments.js"></script>