{{#if loggedIn}}
<div class="card text-bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header">Created by {{user.username}} on {{format_date date_created}}</div>
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{content}}</p>
  </div>
</div>
{{!-- comment form --}}
{{> comment-form}}
{{!-- see all comments --}}
{{#each comments as |comment|}}
{{> comments}}
{{/each}}
{{else}}
{{!-- link to login page --}}
<a class="nav-link" href="/signup-login">You must login or signup to view this page</a>
{{/if}}
<script src="/js/signup-login-logout.js"></script>